<html>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

            <title>Welcome!</title>

            <style>
                legend.scheduler-border {
                    font-size: 1.2em !important;
                    font-weight: bold !important;
                    text-align: left !important;
                    width:auto;
                    padding:0 10px;
                    border-bottom:none;
                }

                fieldset.scheduler-border {
                    border: 1px groove #ddd !important;
                    padding: 0 1.4em 1.4em 1.4em !important;
                    margin: 0 0 1.5em 0 !important;
                    -webkit-box-shadow:  0px 0px 0px 0px #000;
                    box-shadow:  0px 0px 0px 0px #000;
                }
            </style>
        </head>
        <body>
            <div class="container">
                    <h1>Welcome! </h1>
                <div class = "row">
                    <div class ="col-sm-6">

                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border"> <h3>Register</h3> </legend>

                        <form action="/users/create" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            First Name: <input type="text" name="user[first_name]" id="firstname" class="form"> <br>
                            Last Name: <input type="text" name="user[last_name]" id="lastname" class="form"> <br>
                            Email: <input type="text" name="user[email]" id="email" class="form"> <br>
                            City: <input type="text" name="user[city]" id="city" class="form"><br>
                            State: <input type="text" name="user[state]" id="state" class="form"><br>
                            Password: <input type="password" name="user[password]" id="password" class="form"> <br>

                            <input type="submit" value="Register">
                        </form>



                    </fieldset>
                    </div>

                    <div class ="col-sm-6">
                        <fieldset class="scheduler-border">
                            <legend  class="scheduler-border"
                            ><h3>Login</h3></legend>
                            <form action="/users/login" method="post">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                Email: <input type="text" name="email" id="email" class="form"> <br>
                                Password: <input type="password" name="password" id="password" class="form"> <br>
                                <input type="submit" value="Login">
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>

            <div class="m-l">
                <% flash.each do |key, value| %>
                    <div class="alert alert-<%= key %>"><%= value %></div>
                <% end %>
            </div>
        </body>
    </html>
