<<<<<<< HEAD
<h1>Dashboard</h1>
=======
<form action="/friends/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
>>>>>>> 8ae9bd623db9e730465eb8a1d05ec78bad4c2d62
