<% if @bands %>
    <% @bands.each do |b| %>
        <a href="/bands/<%= b.id %>/"><%= b.name %></a>
    <% end %>
<% end %>

<form action="/bands/new" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input id="searchName" type="text" name="band[search]" value="Enter a band name">
    <input type="submit" name="" value="Search">
</form>
